/*
	These styles were extracted from bootstrap,
	so, if you already use bootstrap, you don't
	need this.
*/

.alert
{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-info
{
	/* color: #31708f; */
	color: #ffffff;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-danger
{
	color: #ffffff;
	/* color: #a94442; */
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-warning
{
	color: #ffffff;
	/* color: #8a6d3b; */
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert-success
{
	color: #ffffff;
	/* color: #3c763d; */
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.close
{
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}

.close:hover,
.close:focus
{
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5;
}

.alert.alert-success{
	background-color: rgba(24, 206, 15, 1);
	border : none;
}

.alert.alert-danger{
	background-color: rgba(255, 54, 54, 1);
	border : none;
}
